.header {
  display: flex;
  align-items: center; /*  if the item are not aligned on horizontal axis uppr niche ho ri hain use this*/
  justify-content: space-between;
  border: 1px solid #f9f9f9;
}
.header__logo {
  height: 40px;
  object-fit: contain;
}
.header__icon {
  padding: 20px;
}
